
body {
  margin: 0;
  font-family: sans-serif;
}

li{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

li:hover {
  background: #101010;
  color: #fff;
}

li[highlight] {
  background: #ccc;
}

[hide] {
  display: none;
}

p{
  text-align: center;
  margin: 0;
  padding: 16px 0;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  color:gray;
  list-style: none;
}

.container{
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}

.dragAndDrop{
  background-color: #ccc;
  height: 200px;
  grid-row: 3;
}

.export{
  grid-row: 2;
}

.modal{
  width: 50%;
  height: 350px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  margin: auto;
  background-color: rgb(144, 142, 142);
  padding: 20px;
}

.modal::before {
  content: '';
  position: absolute;
  background: #ccc8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scale(100);
  -webkit-transform: scale(100);
  -moz-transform: scale(100);
  -ms-transform: scale(100);
  -o-transform: scale(100);
}

.list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.panels {
  position: relative;
  z-index: 10;
}
  
.panel {
  left: -2000px;
  position: absolute;
}

.panelExport{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% / 10% / 1fr;
  grid-gap: 5px;
}

.panel.active {
  position: relative;
  left: 0;
}

.pagination{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.pageNumber{
  display: inline-block;
  width: 50%;
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  padding: 0;
}

.titleExport{
  grid-row: 1;
}

.tab {
  border: 2px solid #101010;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  width: 80%;
  cursor: pointer;
}
.tab:active {
  background-color: #eee;
}

#items,
#itemsPerPage{
  grid-column: 3;
  grid-row: 1;
}

#itemsPerPage{
  width: 20%;
  justify-self: right;
}

#previousPage,
#nextPage{
  grid-column: 2;
  grid-row: 1;
  width: 10%;
  justify-items: auto;

}

#nextPage{
justify-self: right;
}

#tabs{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


